.signature {
  direction: ltr;
  height: 170px;
  max-width: 100%;
  white-space: nowrap;
  background: #ffffff;
  color: black;
}

.firstName {
  font-weight: bold;
}

.vertical-line {
  width: 0;
  height: 100%;
  border-right: 1px solid grey;
  margin-right: 22px;
  margin-left: 10px;
}

.main-image {
  width: 120px;
  height: 65px;
}

img {
  width: 20px;
  margin-right: 5px;
}
