.signature {
  direction: ltr;
  height: 170px;
  max-width: 100%;
  white-space: nowrap;
  background: #ffffff;
  color: black;
}

.vertical-line {
  width: 0;
  height: 100%;
  border-right: 1px solid grey;
  margin-right: 9px;
  margin-left: 10px;
}

.main-image {
  width: 200px;
  height: 100px;
}
